/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}


.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-main-page {
  margin-right: auto;
  color: #0087E9;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
